@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");

:root {
    --cor-de-fundo: #5217b1;
    --branco: #f7f7f7;
    --laranja: #fc5c00;
    --azul-degrade: linear-gradient(97.54deg, #2600b1 35.49%, #df0c98 165.37%);
    --fonte-principal: "Poppins";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 15px;
    font-weight: 400;
}